.container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.table th, td {
  width: 70px;
}

.log-line {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.coin-bonus {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://csgoempire.com/assets/coin-bonus-6c56b17c.png");
}
.coin-ct {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://csgoempire.com/assets/coin-ct-1ea3e21b.png");
}

.coin-t {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://csgoempire.com/assets/coin-t-a17e908e.png");
}